/* REGLES GENERALES */

body {
	font-family: 'AileronRegular';
	font-weight: normal;
	font-style: normal; 
}

noscript p {
	display: block;
	font-family: sans-serif;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	color: #FFF;
	background-color: #AE0000;
}

section {
	display: flex;
}

article {
	margin : 10px;
}

aside {
	border: 1px solid black;
	display: block;
	clear: right;
	float: right;
	margin: 10px;
	align-self: flex-start;
	padding: 10px;
}

img {
	display: block;
	margin: auto; 
}

table {
	margin: auto; 
}

figcaption {
	text-align: center;
}

th {
	text-align: left
}

ul {
	list-style-position: inside;
}

footer {
	position: absolute;
	bottom: 0;
}

/* MENU PRINCIPAL */

.menu_class {
	background-color: #333;
	overflow: hidden;
	margin: 10px 10px;
	padding: 0px;
	overflow: hidden;
	border: 2px solid #ccc;
}

.menu_class a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.menu_class a:hover {
	background-color: #00A9BC;
}

.active {
	background-color: #00A9BC;
}

#menu_icon {
	display: none;
} 

.menu_class input {
	float: right;
	width: 10%;
	min-width: 8em;
	margin: 10px 10px;
	padding: 2px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('../ressources/pictures/search_icon.png');
	background-position: 100% 100%; 
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.menu_class input:focus {
	width: 30%;
}

/* OUTILS SUR LA GAUCHE DE LA PAGE */

#left_tools {
	width: 200px;
	margin: 10px;
	position: sticky;
	top: 15px;
}

/* Menu de navigation */

nav {
	height: 200px;
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
	width: auto;
	background-color: #f1f1f1;
}

nav li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 125%
}

nav li a#nav_first_child {
	background-color: #333;
	color: white;
}

nav li a:hover:not(#nav_first_child) {
	background-color: #555;
	color: white;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
/* Formulaire de connexion */

#left_tools h3 {
	font-size: 20px;
	font-weight: 600;
	margin: 10px;
}

.form_val {
	width: 100%;
	box-sizing: border-box;
	padding: 12px;
	margin: 5px 0;
	border: 1px solid #CCC;
	border-radius: 4px;
	opacity: 0.85;
	font-size: 14px;
	text-decoration: none;
	transition-property: border-color, box-shadow;
	transition-duration: 500ms; 
}

.form_val:focus {
	border-color: rgba(82, 168, 236, 0.75);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

#login {
	padding: 10px 10px;
	border: 1px solid #999;
	border-radius: 4px;
}

#envoyer {
	margin: 5px auto;
	padding: 12px;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	width: 100%;
	border: none;
	border-radius: 4px;
	opacity: 0.85;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	text-decoration: none;
	transition-duration: 500ms;
}

#envoyer:hover {
	background-color: #24DA2B;
}

#left_tools p {
	text-align: center;
	font-size: 14px;
	margin: 10px 0px;
}

>>>>>>> 813f87a... Ajout d'une transition pour le 3D Transform du pied de page dans "presentation.html" et d'une transition pour la coloration des inputs dans "register.html". Par ailleurs, déplacement du formulaire de connexion vers la gauche de la page dans "presentation.html".
/* PIED DE PAGE */

footer {
	background-color:#fff;
	border-top:1px solid #ededed;
	padding:50px;
	z-index:2;
	position:relative;
	color:#484848;
	text-align:center
}

footer h2 {
	margin-bottom:30px;
	margin-top:0;
	font-size:28px;
	font-weight:300;
<<<<<<< HEAD
	opacity:.2
=======
	opacity:.2;
	transition-duration: 500ms;
>>>>>>> 813f87a... Ajout d'une transition pour le 3D Transform du pied de page dans "presentation.html" et d'une transition pour la coloration des inputs dans "register.html". Par ailleurs, déplacement du formulaire de connexion vers la gauche de la page dans "presentation.html".
}

footer h2:hover {
	transform: rotate3d(1,2,3,45deg);
}

footer ul {
	margin-bottom:24px
}

footer ul li {
	font-size:18px;
	color:#343434;
	line-height:1.6
}

footer p {
	margin-bottom:30px
}

footer a{
	color:#333;
}

footer .copyright {
	opacity:.5;
	line-height:1.7
}

.list-inline {
	padding-left:0;
	margin-left:-5px;
	list-style:none
}

.list-inline>li {
	display:inline-block;
	padding-right:5px;
<<<<<<< HEAD
	padding-left:5px
=======
#contenu
{
=======
	padding-left:5px;
}
<<<<<<< HEAD
<<<<<<< HEAD

#contenu {
>>>>>>> d8d7d3d... Correction d'un léger bug au niveau des bordures bleues dans le menu.
	background-color: #777;
<<<<<<< HEAD
	height: 1000px;
>>>>>>> 1b35c8a... reorganisation des articles
=======
	height: 700px;
>>>>>>> 1eea0e5... ajout de css
}
=======
>>>>>>> 9c786cf... Ajout d'une banière au-dessus du menu lorsque le JavaScript n'est pas activé, modifications légères du menu avec l'ajout de liens externes notamment et ajout d'un article et d'une vidéo dans "presentation.html".
=======

/* MEDIA QUERIES */

@media all and (max-width: 600px) {
	.menu_class a:not(:first-child), .menu_class input {
		display: none;
	}

	#menu_icon {
		float: right;
		display: block;
	}

	.menu_class.responsive {
		position: relative;
	}

	.menu_class.responsive #menu_icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.menu_class.responsive a, .menu_class.responsive input {
		float: none;
		display: block;
		text-align: left;
	}

	.menu_class.responsive input {
		width: 90%;
	}

	section {
		display: flex;
		flex-direction: column-reverse;
	}

	aside {
		float: none;
	}
<<<<<<< HEAD
}
>>>>>>> 0be883a... Améliorations globales et ajout d'une media query.
=======

	iframe {
		width: 100%;
		height: auto;
	}

	#left_tools_container {
		display: flex;
		justify-content: center;
	}

	#left_tools {
		width: auto;
		display: flex;
		justify-content: space-between;
	}

	nav {
		margin-right: 30px;
	}
}
>>>>>>> b9fc7cb... Amélioration du design du site pour l'affichage sur mobile et petits écrans via une Media Query et un script JavaScript.
